-
	var pages = [
	{name : 'Home', link : '#', is_current : true},
	{name : 'Blog', link : '#', is_current : false},
	{name : 'Portfolio', link : '#', is_current : false},
	{name : 'Contacts', link : '#', is_current : false}
	]